.backdrop-img {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  filter: brightness(20%);
  z-index: -1;
}

.detail {
  padding: 2rem;
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 2rem;
}

.poster {
  display: block;
  background-size: cover;
  background-position: center center;
  padding-bottom: 150%;
  box-shadow: 1px 1px 3px 1px rgb(143, 143, 143);
  border-radius: 0.5rem;
}

detail-info h2 {
  font-size: 2rem;
}

detail-info p {
  font-weight: 600;
  padding-bottom: 1rem;
}
