main {
  padding: 1rem;
  margin-top: 40px;
}

.detail-main {
  margin-left: 400px;
}

section {
  position: fixed;
  top: 40px;
  left: 0;
  padding: 1rem;
  width: 400px;
  height: calc(100vh - 50px);
  overflow: auto;
}

section::-webkit-scrollbar {
  all: unset;
}

.backdrop-img {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 400px;
  height: 100vh;
  filter: brightness(20%);
  z-index: -1;
}

.detail {
  width: 100%;
  display: grid;
  grid-template-columns: 330px;
  justify-content: center;
}

.poster {
  display: block;
  background-size: cover;
  background-position: center center;
  padding-bottom: 150%;
  box-shadow: 1px 1px 3px 1px rgb(143, 143, 143);
  border-radius: 0.5rem;
}

.detail-info {
  overflow: hidden;
}

.detail-info h2 {
  font-size: 2rem;
}

.detail-info p {
  font-weight: 600;
  padding-bottom: 1rem;
}

.remove-detail {
  position: absolute;
  right: 10px;
}
